# Copyright (c) 2024, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
      - id: cpplint
        args: ["--recursive"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.4.1
    hooks:
      - id: verify-copyright
        args: ["--fix", "--main-branch", "main"]
      - id: verify-hardcoded-version
        name: verify-hardcoded-version-rapids
        args: [--fix, --version-file=RAPIDS_VERSION]
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.2
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]

default_language_version:
      python: python3
